.DS_Store
**/**/.idea/*
**/**/*.iml
**/**/target/*

**/.classpath
**/.project
**/.settings/*

*.log

/**/dist/*
/**/node_modules/**
/**/package-lock.json

kitty.properties
mongo.properties
oss.properties

oss.properties
